<!doctype html>
<html>
  {% include head.html %}
  <body class="layout-{{ page.layout }}">
    <div class="page-wrapper">
      <aside class="sidebar">
        {% include header.html %}
      </aside>
      <div class="main-column">
        <main class="content-wrapper">
          {{ content }}
        </main>
      </div>
    </div>
    <script>
      document.querySelectorAll('.js-menu-toggle').forEach(function(btn) {
        btn.addEventListener('click', function() {
          var sub = this.nextElementSibling;
          if (sub) sub.classList.toggle('menu-sub--open');
        });
      });
    </script>
  </body>
</html>
